/* small tweaks */
@media (max-width:1100px) {
    .cards {
        grid-template-columns:repeat(2,1fr);
    }

    #intro-box{padding:36px;}
}
@media (max-width:800px){
    #top-left-corner {
        justify-content: flex-start;
        gap: 5px;
    }

    #top h1 {font-size:1.8rem;}

    #hide-rest {display: none;}

    #logo-link img {
        width: 45px;
    }

    #favorites img {
        width: 37px;
    }

    .cards {
        grid-template-columns:1fr;
        width: 100%;
    }

    #intro-box {
        min-height: 320px;
        font-size: 1.5rem;
        line-height: 3rem;
        padding: 22px;
        width: 100%;
    }

    #intro-box pre {font-size: 1.3rem;}

    #intro-text {
        font-size: 1.2rem;
        width: 100%;
    }

    #side-menu {
        width:80%;
        max-width:320px;
    }

    #side-menu.active ~ #hero {margin-left:0;}

    #logo-link h2 {
        display: none;
    }

    #favorites h2 {
        display: none;
    }
}